<div>
    <h1>{{ title }}</h1>

    <div class="grid">
        <div class="grid-columns grid-columns-center-horizontally">
            <!-- Spinner -->
            <div class="spinner-success"></div>
        </div>
    </div>

    <button type="button" (click)="openNew()" class="btn btn-success">New</button>

    <!-- New Section Form -->
    <div *ngIf="showNewSection">
        <form [formGroup]="form" class="grid margin-10" (ngSubmit)="submitForm(form.value)">
            <div class="grid-columns-stack-when-responsive">
                <div class="col-50 margin-top-20 margin-right-10-responsive-0">
                    <div class="form-control-label">Name</div>
                    <input type="text" class="form-control-input" [formControl]="form.controls['name']">
                    <div *ngIf="submitAttempt && form.get('name').hasError('required')" class="form-control-error">
                        You must provide a name.
                    </div>
                </div>

                <div class="col-50 margin-top-20 margin-left-10-responsive-0">
                    <div class="form-control-label">Year</div>
                    <input type="number" class="form-control-input" [formControl]="form.controls['year']">
                    <div *ngIf="submitAttempt && (
                        form.get('year').hasError('min') ||
                        form.get('year').hasError('max') || 
                        form.get('year').hasError('pattern') ||
                        form.get('year').hasError('required')
                    )" class="form-control-error">
                        You must provide a year between 1989 and 2017.
                    </div>
                </div>
            </div>

            <div class="grid margin-top-20">
                <div class="form-control-label">Description</div>
                <textarea class="form-control-text-area" [formControl]="form.controls['description']"></textarea>
                <div *ngIf="submitAttempt && form.get('description').hasError('maxlength')" class="form-control-error">
                    The maximum length that is allowed is 500.
                </div>
            </div>

            <div class="grid-columns grid-columns-align-right-horizontally margin-top-20">
                <button class="btn btn-primary margin-right-10">Submit</button>
                <button type="button" (click)="cancelNew()" class="btn btn-cancel">Cancel</button>
            </div>
        </form>
    </div>

    <div class="alert alert-success margin-top-10">
        We have a problem and this is the warning.
    </div>

    <div class="alert alert-info margin-top-10">
        We have a problem and this is the warning.
    </div>

    <div class="alert alert-warning margin-top-10">
        We have a problem and this is the warning.
    </div>

    <div class="alert alert-danger margin-top-10">
        We have a problem and this is the warning.
    </div>

    <div class="grid margin-50">
        <div class="progress-bar margin-top-10">
            <div class="progress-bar-inner-success" [style.width]="progressBarPercentage">
                <div class="progress-bar-text">{{progressBarPercentage}}</div>
            </div>
        </div>

        <div class="progress-bar margin-top-10">
            <div class="progress-bar-inner-primary" [style.width]="progressBarPercentage">
                <div class="progress-bar-text">{{progressBarPercentage}}</div>
            </div>
        </div>

        <div class="progress-bar margin-top-10">
            <div class="progress-bar-inner-warning" [style.width]="progressBarPercentage">
                <div class="progress-bar-text">{{progressBarPercentage}}</div>
            </div>
        </div>

        <div class="progress-bar margin-top-10">
            <div class="progress-bar-inner-danger" [style.width]="progressBarPercentage">
                <div class="progress-bar-text">{{progressBarPercentage}}</div>
            </div>
        </div>
    </div>

    <!-- Check Boxes -->
    <div class="grid margin-50">
        <input id="cakeCheckbox" type="checkbox" class="check-box">
        <label for="cakeCheckbox">Do you want cake? Do you want cake? Do you want cake? Do you want cake? Do you want cake? Do you want cake? </label>
    </div>

    <!-- Radio Buttons -->
    <div class="grid margin-50">
        <ul class="radio-group">
            <li>
                <input id="fooRadio" type="radio" name="test" value="Foo Fighters">
                <label for="fooRadio">Foo Fighters</label>
            </li>
            <li>
                <input id="museRadio" type="radio" name="test" value="Muse">
                <label for="museRadio">Muse</label>
            </li>
            <li>
                <input id="rhcpRadio" type="radio" name="test" value="Red Hot Chili Peppers">
                <label for="rhcpRadio">Red Hot Chili Peppers</label>
            </li>
        </ul>
    </div>

    <!-- Listing of Examples -->
    <div *ngFor="let example of examples" class="grid margin-top-50 margin-left-10 margin-right-10">
        <div class="margin-bottom-10" style="font-size: 30px;">{{ example.name }}</div>
        <div class="margin-bottom-10">{{ example.year }}</div>
        <div class="margin-bottom-10">{{ example.description }}</div>
        <div class="grid-columns-stack-when-responsive">
            <div class="col-star-1 margin-right-10-responsive-0 margin-bottom-0-responsive-10">
                <!-- An Alert -->
                <div class="alert alert-warning">
                    We have a problem and this is the warning.
                </div>
            </div>

            <div class="grid-columns grid-columns-align-right-horizontally">
                <button type="button" class="btn btn-primary margin-right-10">
                    Update
                </button>
                <button type="button" (click)="delete(example)" class="btn btn-danger">
                    Delete
                </button>
            </div>
        </div>
    </div>

    <!--TEMP-->
    <div class="grid margin-top-50" style="background: red;">
        <div class="grid-columns grid-columns-center-horizontally" style="background: purple;">
            <div>!!Random Content!!</div>
            <div>!!Random Content 2!!</div>
        </div>
        <div class="grid-columns grid-columns-space-evenly-horizontally" style="background: black; color: white;">
            <div style="background: pink; color: black;">More Random Content</div>
            <div>Another Random Content</div>
            <div style="background: pink; color: black;">Yet More Random Content</div>
        </div>
        <div class="grid-columns-stack-when-responsive" style="background: green; color: white;">
            <div class="margin-top-50 margin-bottom-50 margin-left-20-responsive-0 margin-right-20-responsive-0" style="background: aqua; color: black;">Auto Content</div>
            <div class="col-star-1">col-star-1 content</div>
            <div class="col-star-8" style="background: blue;">col-star-8 content</div>
        </div>
    </div>

    <div *ngIf="!examples || examples.length === 0" class="margin-top-20">
        No Records to Show
    </div>

</div>