<div>
    <h1>{{ title }}</h1>

    <button type="button" (click)="openNew()">New</button>

    <!-- New Section Form -->
    <div *ngIf="showNewSection">
        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <div style="margin-top:20px;">
                <div>Name</div>
                <input [formControl]="form.controls['name']">
                <div *ngIf="submitAttempt && form.get('name').hasError('required')">
                    You must provide a name.
                </div>
            </div>
            <div style="margin-top:20px;">
                <div>Description</div>
                <textarea [formControl]="form.controls['description']" style="width: 100%; height: 80px;"></textarea>
                <div *ngIf="submitAttempt && form.get('description').hasError('maxlength')">
                    The maximum length that is allowed is 500.
                </div>
            </div>
            <div style="margin-top:20px;">
                <div>Year</div>
                <input type="number" [formControl]="form.controls['year']">
                <div *ngIf="submitAttempt && (
                    form.get('year').hasError('min') ||
                    form.get('year').hasError('max') || 
                    form.get('year').hasError('pattern') ||
                    form.get('year').hasError('required')
                )">
                    You must provide a year between 1989 and 2017.
                </div>
            </div>
            <div style="margin-top:20px;">
                <button>Submit</button>
                <button type="button" (click)="cancelNew()">Cancel</button>
            </div>
        </form>
    </div>

    <!-- Listing of Examples -->
    <div *ngFor="let example of examples" class="grid margin-top-50">
        <h4>{{ example.name }} - ({{ example.year }})</h4>
        <div>{{ example.description }}</div>
        <button type="button" (click)="delete(example)">Delete</button>
    </div>

    <!--TEMP-->
    <div class="grid margin-top-50" style="background: red;">
        <div class="grid-columns grid-columns-center-horizontally" style="background: purple;">
            <div>!!Random Content!!</div>
            <div>!!Random Content 2!!</div>
        </div>
        <div class="grid-columns grid-columns-space-evenly-horizontally" style="background: black; color: white;">
            <div style="background: pink; color: black;">More Random Content</div>
            <div>Another Random Content</div>
            <div style="background: pink; color: black;">Yet More Random Content</div>
        </div>
        <div class="grid-columns" style="background: green; color: white;">
            <div class="margin-top-50 margin-bottom-50 margin-left-20-responsive-0 margin-right-20-responsive-0" style="background: aqua; color: black;">Auto Content</div>
            <div class="col-star-1">col-star-1 content</div>
            <div class="col-star-8" style="background: blue;">col-star-8 content</div>
        </div>
    </div>

    <div *ngIf="!examples || examples.length === 0" style="margin-top:20px">
        No Records to Show
    </div>

</div>