$alertTextColor: #333;
$successAlertColor: lighten($successButtonColor, 25);
$dangerAlertColor: lighten($dangerButtonColor, 25);
$infoAlertColor: lighten($primaryButtonColor, 25);
$warningAlertColor: lighten($warningButtonColor, 25);

.alert {
    display: flex;
    padding: 20px;
    align-items: center;

    @media only screen and (max-width: $responsive) {
        padding: 10px;
    }

    &-success {
        background: $successAlertColor;
        color: $alertTextColor;
    }

    &-danger {
        background: $dangerAlertColor;
        color: $alertTextColor;
    }

    &-info {
        background: $infoAlertColor;
        color: $alertTextColor;
    }

    &-warning {
        background: $warningAlertColor;
        color: $alertTextColor;
    }
}