// Button
$defaultButtonTextColor: #333;
$defaultButtonColor: #fff;
$primaryButtonTextColor: #fff;
$primaryButtonColor: #2288ff;
$successButtonTextColor: #fff;
$successButtonColor: #33aa33;
$dangerButtonTextColor: #fff;
$dangerButtonColor: #bb3311;

.btn {
    border: none;
    font-size: 16px;
    height: 59px;
    width: 120px;

    @media only screen and (max-width: $responsive) { 
        font-size: 14px;
        height: 39px;
        width: 100px;
    }

    &-primary {
        background: $primaryButtonColor;
        color: $primaryButtonTextColor;
    }
    
    &-success {
        background: $successButtonColor;
        color: $successButtonTextColor;
    }

    &-danger {
        background: $dangerButtonColor;
        color: $dangerButtonTextColor;
    }

    &-cancel, &-close {
        background: $defaultButtonColor;
        color: $defaultButtonTextColor;
    }
}


// Form Control
$formErrorColor: $dangerButtonColor;
$formErrorTextColor: #fff;
$formInputTextColor: #333;

.form-control {    
    &-label {
        margin-bottom: 5px;
    }

    &-text-area {
        resize: none;
        font-size: 18px;
        height: 80px;
        color: $formInputTextColor;
    }

    &-input {
        padding-left: 10px;
        width: 100%;
        height: 39px;
        font-size: 18px;
        color: $formInputTextColor;
    }

    &-error {
        background: $formErrorColor;
        padding: 5px;
        font-size: 12px;
        color: $formErrorTextColor;
    }
}


// Radio Button
.radio-group {
    list-style: none;
    & > li {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}


// Spinner
$spinnerBorderPixelWidth: 5px;
$spinnerBorderType: solid;
$spinnerWidthAndHeight: 50px;
$spinnerAnimationDuration: 1s;

.spinner {
    border: $spinnerBorderPixelWidth $spinnerBorderType #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    width: $spinnerWidthAndHeight;
    height: $spinnerWidthAndHeight;
    animation-name: spin;
    animation-duration: $spinnerAnimationDuration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &-primary {
        @extend .spinner;
        border: $spinnerBorderPixelWidth $spinnerBorderType $primaryButtonColor; 
        border-left-color: transparent;
        border-right-color: transparent;
    }
    &-danger { 
        @extend .spinner;
        border: $spinnerBorderPixelWidth $spinnerBorderType $dangerButtonColor; 
        border-left-color: transparent;
        border-right-color: transparent;
    }
    // &-warning {
    //     @extend .spinner;
    //     border: $spinnerBorderPixelWidth $spinnerBorderType $warningButtonColor; 
    //     border-left-color: transparent;
    //     border-right-color: transparent;
    // }
    &-success { 
        @extend .spinner;
        border: $spinnerBorderPixelWidth $spinnerBorderType $successButtonColor; 
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}